if SHIELD_DAC_MAN_3X6_LEFT

config ZMK_KEYBOARD_NAME
    default "Dac-Man-3x6-L"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_DAC_MAN_3X6_RIGHT

config ZMK_KEYBOARD_NAME
    default "Dac-Man-3x6-R"

endif

if SHIELD_DAC_MAN_3X6_LEFT || SHIELD_DAC_MAN_3X6_RIGHT

config ZMK_SPLIT
    default y
endif

